.projectsTitle {
  display: flex;
  justify-content: center;
}

.projectTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectTitle span {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .links{
  display: flex;
}
/* 
.projectDescription, .projectLink{
  text-align: center;
  text-decoration: none;
  color: #007bff;
  transition: color 0.1s ease;
}

.projectLink:hover {
  color: blue;
} */

.projectWrapper {
  display: flex;
  justify-content: center;
}

.projectImg {
  max-width: 500px;
  border-radius: 8px;
}

.techs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs svg {
  font-size: 1.5rem;
  margin-left: 5px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

#projects {
  padding: 0 15px 15px 15px;
}

/* Theme light */
.app.light #projects {
  border-radius: 8px;
  background-color: #fff;
}

/* Theme dark */
.app.dark #projects {
  border-radius: 8px;
  background-color: #1b2533;;
}